.my-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--read-more-line-clamp, 2);
  }

  .btnl {
    all: unset;
    cursor: pointer;
  }